body{
    margin: 0%;
    font-family:'Kalam', cursive;;
}

.wrapper{
    max-width: 100%;
    max-height: 100vh;
    text-align: center;
    margin: auto;
    margin: 0%;


}
.header{
    height: 14vh;
    width: 100%;
    background-color: coral;
    margin-bottom: 20px;
    font-size: 2rem;
    /* margin-top: -37px; */
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 6, 85);
}
.main{
    width: 50%;
    margin: auto;
    height: 60vh;
}
#translate-input{
    width: 100%;
    height: 120px;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
}
.translate-btn{
    background-color: coral;
    padding: 8px;
    border: none;
    width: 200px;
    height:60px;
    font-size: large;
    display: block;
    margin-left: 10px;
    margin-bottom: 20px;
}
.indicator{
    display: block;
    font-size: large;
    margin-bottom: 5px;
    max-height: max-content;
    max-width: max-content;
    margin-left: 10px;
}


.translate-output{
    width: 100%;
    margin: auto;
    /* height: 60px; */
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 2px solid black;
    border-radius: 4px;
    text-align: left;
    padding: 1rem;
    font-size: large;
}


.footer{
    width: 100%;
    height: 20vh;
    background-color: coral;
    color: rgb(4, 0, 36);
}
.footer h2{
    padding-top: 15px;
}
